.nav {
  height: 3.5rem;
  width: 100%;
  position: fixed;
  @include flex(row, space-between, center);
  padding: 0 10px;
  background-color: $orange;
  top: 0;
  z-index: 5;

  span {
    font-size: 24px;
    margin-bottom: 0;
  }

  .sign-in,
  .sign-in form {
    @include flex(row, center, center);
    height: 100%;
  }

  .sign-in form * {
    margin-left: 8px;
  }

  .signin-alert {
    padding: 6px;
    margin: 0;
  }

  .btn-group {
    height: 100%;

    .nav-user {
      @include flex(row, flex-start, center);
      padding-right: 0;
      white-space: nowrap;

      #navatar {
        border-radius: 50%;
        height: 80%;
        width: auto;
        margin-right: 10px;
      }

      h3 {
        margin-bottom: 0;
        font-size: 18px;
      }
    }
  }

  // position: fixed !important;
  // z-index: 10 !important;
  //
}

// .sign-in input {
//   width: 40%;
// }

// .sign-in-btn {
//   width: 20%;
// }

// #nav-user {
//   text-align: right;
// }

//
