.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.jumbotron {
  position: relative;
  margin-top: 56px;
  height: 92vh;
  padding-left: 20px;
  margin-bottom: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1559894204-ac18b01b7b50?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}

/* url('https://images.unsplash.com/photo-1571942676558-281b2f9b1f8d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80'); */

.jumbotron .text {
  position: absolute;
  background: transparent;
  padding: 20px;
  bottom: 20px;
  left: 20px;
  width: 400px;
}

.registration-form {
  padding: 24px;
}

.registration-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.registration-form-item {
  flex-basis: 49%;
}

.alert {
  display: inline-block;
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

#password-popover {
  margin-left: 0.5rem;
  color: #e67222;
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

footer .container {
  top: 60px;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

footer a {
  color: #e67222;
}

footer a:hover {
  color: red;
}

.loading {
  position: absolute;
  top: 150px;
  left: 150px;
  display: block;
}

.loading img {
  width: 200px;
  height: auto;
}

.loading p {
  margin-top: 1rem;
  margin-left: 1.5rem;
}

#load-more-btn {
  float: right;
  margin-right: 208px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.card {
  text-align: left;
  margin: 0 auto;
  max-width: 600px;
  margin-bottom: 20px;
}
.card .post-image {
  background: darkgray;
  height: auto;
  width: 100%;
  border-radius: 25px;
}

.card .profile-photo {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  float: left;
  margin-right: 1rem;
  background: darkgray;
}

.collapse .profile-photo {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  float: left;
  margin-right: 1rem;
  background: darkgray;
}

.collapse .post-username {
  margin-bottom: 0;
  border: 1px solid red;
  display: inline-block;
}

.collapse .post-date {
  color: gray;
  margin-top: 0;
}

.card .post-username {
  margin-bottom: 0;
}

.card .post-date {
  color: gray;
  margin-top: 0;
}

.card .post-body {
  margin-top: 16px;
}

.card .flex-container {
  padding-top: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.card .count {
  margin-left: 0.5rem;
  margin-right: 1.5rem;
}

.card .recipe-title {
  margin-top: 15px;
  margin-bottom: 0;
}

.card .recipe-time {
  margin-right: 10px;
}

.card button {
  background-color: none;
  border: none;
  outline: none;
}

#comments-icon {
  margin-right: 0.5rem;
}

#edit:hover {
  color: #e67222;
}

.post button:hover {
  color: #e67222;
}

.modal-body .pp {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  float: left;
  margin: 0.5rem 0.5rem 0.5rem 0;
}

.modal-body textarea {
  width: 394px;
  height: 5rem;
  border-radius: 2px;
  border-color: lightgray;
  padding: 0;
  outline: none;
}

.new-post label {
  display: block;
  margin-left: 4.5rem;
  margin-bottom: 0;
}

.new-post input {
  width: 394px;
  margin-left: 4.5rem;
  outline: none;
}

#editProfile input {
  color: black;
}

html,
body {
  height: 100%;
}

/* .wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}
.footer, .push {
  height: 60px;
} */

.flex-page {
  display: flex;
  justify-content: left;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

footer {
  bottom: 0;
}

.col-sm-4 {
  padding: 0;
}

.feed-container {
  top: 60px;
  margin-bottom: 70px;
  margin-top: 15px;
  position: relative;
}

.landing {
  background-color: #f8f9fa;
}

.about {
  background-color: #f8f9fa;
}

#compose-btn {
  float: right;
  margin-right: 225px;
  margin-top: 5px;
}

.post-container {
  padding-left: 0;
}

.post {
  margin: 10px 0;
}

body {
  background: #f1f3fa;
}

.profile {
  margin: 20px;
  height: 100%;
  top: 60px;
}

.profile .photo {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: darkgray;
  margin: 10px 44px;
  border: none;
}

.city {
  margin-right: 10px;
}

.utensils {
  margin-right: 17px;
}

.briefcase {
  margin-right: 14px;
}

.bio-title {
  margin-top: 20px;
  display: inline-block;
}

.profile .list-group-item {
  padding-left: 0;
}

.profile-edit {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 1px;
}

.profile-edit:hover {
  color: #e67222;
}

.mobile-profile {
  top: 60px;
  margin: 20px 0;
  padding: 20px;
  display: none;
}

.mobile-profile .photo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: darkgray;
  border: none;
  float: left;
  margin-right: 2rem;
}

.mobile-profile .card-body {
  display: inline-block;
  width: 100%;
  padding: 0;
}

.mobile-profile h2 {
  margin-bottom: 0;
  margin-top: 12px;
}

.mobile-profile-btn {
  background-color: none;
  color: gray;
  border: none;
  outline: none;
  padding: 0;
}

.mobile-profile-icon {
  margin-right: 0.5rem;
}

.mobile-profile-btn:hover {
  color: #e67222;
}

.mobile-profile .collapse {
  margin-top: 20px;
}

.collapse .list-group-item {
  padding-left: 0;
}

.first-label {
  margin-top: 16px;
}

.modal-content .alert {
  margin-right: 15px;
  margin-left: 15px;
}

@media only screen and (max-width: 1080px) {
  .jumbotron {
    margin-top: 56px;
  }
  .profile {
    display: none;
  }
  .mobile-profile {
    display: block;
  }
  .loading {
    display: none;
  }
  .col-sm-3 {
    max-width: 100%;
  }
  .col-sm-4 {
    max-width: 100%;
  }
  .col-sm-9 {
    width: 100%;
  }
  .col-sm-8 {
    width: 100%;
  }
  .flex-page {
    display: block;
  }
  nav {
    top: 0;
  }
  .post {
    width: 100% !important;
  }
  .post-container {
    padding: 0;
  }
  .feed-container {
    margin-bottom: 135px;
  }
  #load-more-btn {
    margin-right: 185px;
  }
}

@media only screen and (max-width: 768px) {
  .jumbotron .text {
    margin-right: 20px;
    width: 90%;
    bottom: -5px;
  }

  .jumbotron {
    /*  background-image: url('https://images.unsplash.com/photo-1571942389762-b0502602ed4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80'); */
    background-size: contain;
  }

  nav {
    top: 0;
  }
  .col-sm-3 {
    width: 100%;
  }
  .col-sm-4 {
    width: 100%;
  }
  .col-sm-9 {
    width: 100%;
  }
  .col-sm-8 {
    width: 100%;
  }
  .flex-page {
    display: block;
  }
  .card button {
    background-color: transparent;
    border: none;
    outline: none;
  }
  .post {
    width: 100% !important;
  }
  .post-container {
    padding: 0;
  }
  .profile {
    display: none;
  }
  .mobile-profile {
    display: block;
  }
  #compose-btn {
    float: right;
    margin-right: 0;
  }
  .new-post .pp {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    float: left;
    margin: 0.5rem 0.5rem 0.5rem 0;
  }

  .new-post textarea {
    width: 394px;
    height: 4rem;
    border-radius: 2px;
    border-color: lightgray;
    padding: 0;
    outline: none;
  }

  .new-post label {
    display: block;
    margin-left: 3.5rem;
    margin-bottom: 0;
  }

  .new-post input {
    width: 394px;
    margin-left: 3.5rem;
  }

  #load-more-btn {
    margin-right: 185px;
  }
}
