.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

nav {
  background-color: #E67222 !important;
}

#nav-user {
  text-align: right;
}

.jumbotron {
  height: 92vh;
  padding-left: 20px;
  margin-bottom: 0px;
  background-image: url('https://images.unsplash.com/photo-1571942676558-281b2f9b1f8d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80');
}

.registration-form {
  padding: 24px;
}

.registration-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.registration-form-item {
  flex-basis: 49%;
}

.alert {
  display: inline-block;
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

nav .signin-alert {
  padding: 6px;
  margin: 0;
}

nav .btn-danger {
  margin-left: 16px;
}

nav .form-group {
  margin-left: 8px;
}

#nav-profile-photo {
  border-radius: 50%;
  height: 28px;
  width: 28px;
  margin-right: 10px;
}

#password-popover {
  margin-left: 0.5rem;
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.card {
  text-align: left;
  margin: 0 auto;
  max-width: 600px;
  margin-bottom: 20px;
}
.card .post-image {
  background: darkgray;
  height: auto;
  width: 100%;
  border-radius: 25px;
}

.card .profile-photo {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  float: left;
  margin-right: 1rem;
  background: darkgray;
}

.card .post-username {
  margin-bottom: 0;
}

.card .post-date {
  color: gray;
  margin-top: 0;
}

.card .post-body {
  margin-top: 16px;
}

.card .flex-container {
  padding-top: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.card .count {
  margin-left: 0.5rem;
  margin-right: 1.5rem;
}

.card .recipe-title {
  margin-top: 15px;
  margin-bottom: 0;
}

.card .recipe-time {
  margin-right: 10px;
}

.card button {
  background-color: none;
  border: none;
}

html, body {
  height: 100%;
}

.home .page {
  height: 100%;
}

body {
  background: #F1F3FA;
}

.profile {
  margin: 20px 20px;
  float: left;
  height: 100%;
}

.profile .photo {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: darkgray;
  margin: 10px 44px;
  border: none;
}

.profile #city {
  margin-right: 10px;
}

.profile #utensils {
  margin-right: 17px;
}

.profile #briefcase {
  margin-right: 14px;
}

.profile .bio-title {
  margin-top: 20px;
  display: inline-block;
}

.profile .list-group-item {
  padding-left: 0;
}

.profile #edit {
  display: inline-block;
  margin-left: 10px;
}
